/*soft reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

body {
    background-size: 100vw 100vh;
    height: 100vh;
    font-size: 12px;  
    background-image: url(../images/imagem-fundo.png);

}

.menu {
    background-color: #d8cce0;
    position: fixed;
    width: 100vw;
    height: 12%;
    top: 0;
    z-index: 1;
    font-family: Open Sans, monospace;
}

.menu ul {
    font-family: monospace;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    font-size: xx-large;
    display: block;
    padding: 28px;
    text-decoration: none;
    color: #202026;
}
.menu a:hover {
    background-color: #2c2c34;
    color: #d8cce0;
}


.sobre h1  {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 136px;
    color: #FFFFFF;
    
    
}
.sobre .traçado {
    text-align: center;

}

.sticky {
    position: sticky;
    top: 10%;
    left: 100%;
  }